@inject IConfiguration config
@rendermode InteractiveServer


<style>
    .navbar {
        border-bottom: solid 1px;
    }
</style>

<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Home</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/counter">Counter</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/weather">Weather</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">Connections</a>
                    <ul class="dropdown-menu">
                        <li><button class="dropdown-item" @onclick="ShowConnection1">Connection 1</button></li>
                        <li><button class="dropdown-item">Connection 2</button></li>
                        <li><button class="dropdown-item">Connection 3</button></li>
                    </ul>
                </li>
            </ul>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>

@code {

    private void ShowConnection1()
    {
        var response = config.GetConnectionString("DefaultConnection");
        Console.WriteLine(response);
    }


}